# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Editor / IDE
.vscode/
.idea/
.history/

# Optional project output
output/

# Logs
logs/*

snake.yml
